.movie {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    border: solid white 0.5rem ;
}

.movie-title {
    color: white;
}

.movie-actions {
    display: flex;
    width: 100%;
    gap: 5.5rem;
    margin-top: 1rem;
    text-align: center;
}

.favorite {
    color: white;

}